.shadowamettre{
    box-shadow: 0px 0px 4px 4px #B8FFC725;
    filter: blur(1px);
    border: 1px solid #B8FFC7;
    
}



.h2pres{
    font-family: Inter;
}


.techstack{
    font-family: Inter;
}

@keyframes flottement {

    0%,
    100% {
      transform: translate(0, 0);
      
    }
  
    25% {
      transform: translate(2px, 2px);
      
    }
  
    50% {
      transform: translate(-4px, 6px);
      
    }
  
    75% {
      transform: translate(4px, -2px);
      
    }
  } 


  .sectionlogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "c1 c2 c3"
    "c4 c5 c6";
    gap: 2rem;
    padding: 0.5rem;
    place-items: center;
  }


  .sectionlogoback{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "c7 c8 c9";
    gap: 2rem;
    padding: 0.5rem;
    place-items: center;
  }

  .sectionlogo img:nth-child(1){
    grid: c1;
  }

  .sectionlogo img:nth-child(2){
    grid: c2;
  }

  .sectionlogo img:nth-child(3){
    grid: c3;
  }

  .sectionlogo img:nth-child(4){
    grid: c4;
  }

  .sectionlogo img:nth-child(5){
    grid: c5;
  }

  .sectionlogo img:nth-child(6){
    grid: c6;
  }



  .btncta{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.3);
  }


  .reqAjax{
    animation: opacity 1s ease-in-out forwards, scale1 1s ease-in-out forwards;
    opacity: 0;
    transform: scale(70%);
    transform-origin: bottom;
  }

  .reqMario{
    animation: opacity 1s ease-in-out forwards 0.5s, scale1 1s ease-in-out forwards 1s;
    opacity: 0;
    transform: scale(70%);
    transform-origin: bottom;

  }


  @keyframes opacity{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
  }

  @keyframes scale1{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
  }



  .parentdivetudes1:hover span{
    color: #8BB894;
    transition: 0.3s ease;
  }


  .parentdivetudes1:hover{
    box-shadow: 0px 0px 20px 2px #B8FFC730;
    border: 3px solid #B8FFC7;
    
  }


  .parentdivetudes1{
    transition: 0.25s ease;
  }


  .parentdivetudes1 img {
    filter: grayscale(100%);
    transition: 0.25s ease;
  }

  .parentdivetudes1:hover img {
    filter: grayscale(0%);
  }

  .parentdivetudes1:hover .separateurd1{
    background-color: #B8FFC7;
  }


  .separateurd1{
    transition: 0.25s ease;
  }






















  .parentdivetudes2:hover span{
    color: #8BB894;
    transition: 0.3s ease;
  }


  .parentdivetudes2:hover{
    box-shadow: 0px 0px 20px 2px #B8FFC730;
    border: 3px solid #B8FFC7;
    
  }


  .parentdivetudes2{
    transition: 0.25s ease;
  }


  .parentdivetudes2 img {
    filter: grayscale(100%);
    transition: 0.25s ease;
  }

  .parentdivetudes2:hover img {
    filter: grayscale(0%);
  }

  .parentdivetudes2:hover .separateurd2{
    background-color: #B8FFC7;
  }


  .separateurd2{
    transition: 0.25s ease;
  }


  .photomp-container {
    position: relative;
    display: inline-block; /* pour que le conteneur s'adapte à la taille de l'image */
  }
  
  .photomp-container:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    width: calc(100% + 30px); /* Pour prendre en compte le débordement */
    height: calc(100% + 30px); /* Pour prendre en compte le débordement */
    background: conic-gradient(#B8FFC7, #B8FFC720);
    border-radius: 50%;
    z-index: -1;
    filter: blur(30px);
    opacity: 20%;
    animation: flottement 8s ease-in-out infinite, rotate 24s ease-in-out infinite;
  }
  
  .photomp {
    display: block; /* Pour s'assurer que l'image a ses propres dimensions */
    border: 2px solid #B8FFC7;
    border-radius: 50%; /* Pour garder la forme arrondie de l'image */
  }


  .luciole2{
    position: relative;
    display: inline-block;
  }

  .luciole2:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -50px;
    width: calc(130% + 30px); /* Pour prendre en compte le débordement */
    height: calc(300% + 30px); /* Pour prendre en compte le débordement */
    background: conic-gradient(#B8FFC7, #B8FFC720);
    border-radius: 50%;
    z-index: -1;
    filter: blur(30px);
    opacity: 20%;
    animation: flottement2 12s ease-in-out infinite;
  }

  @keyframes flottement2 {

    0%,
    100% {
      transform: translate(0, 0);
      /* Position initiale */
    }
  
    25% {
      transform: translate(10px, 10px);
      /* Déplacement en haut à droite */
    }
  
    50% {
      transform: translate(-20px, 30px);
      /* Déplacement vers le haut à gauche */
    }
  
    75% {
      transform: translate(20px, -10px);
      /* Déplacement vers le bas à droite */
    }
  }
  
  @keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }



  .luciole3{
    position: relative;
    display: inline-block;
  }


  .luciole3:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 100px;
    width: calc(130% + 30px); /* Pour prendre en compte le débordement */
    height: calc(100% + 30px); /* Pour prendre en compte le débordement */
    background: conic-gradient(#B8FFC7, #B8FFC720);
    border-radius: 50%;
    z-index: -1;
    filter: blur(30px);
    opacity: 20%;
    animation: flottement2 12s ease-in-out infinite;
    transform: rotate(90deg);
  }


  .luciole4{
    position: relative;
    display: inline-block;
  }


  .luciole4:before {
    content: '';
    position: absolute;
    top: 100px;
    left: -200px;
    width: calc(70% + 30px); /* Pour prendre en compte le débordement */
    height: calc(180% + 30px); /* Pour prendre en compte le débordement */
    background: conic-gradient(#B8FFC7, #B8FFC720);
    border-radius: 50%;
    z-index: -1;
    filter: blur(30px);
    opacity: 20%;
    animation: flottement2 12s ease-in-out infinite;
    
  }



  .luciole5{
    position: relative;
    display: inline-block;
  }


  .luciole5:before {
    content: '';
    position: absolute;
    top: 100px;
    left: 0px;
    width: calc(70% + 30px); /* Pour prendre en compte le débordement */
    height: calc(80% + 30px); /* Pour prendre en compte le débordement */
    background: conic-gradient(#B8FFC7, #B8FFC720);
    border-radius: 50%;
    z-index: -1;
    filter: blur(30px);
    opacity: 20%;
    animation: flottement2 9s ease-in-out infinite;
    
  }



  .luciole6{
    position: relative;
    display: inline-block;
  }


  .luciole6:before {
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    width: calc(160% + 30px); /* Pour prendre en compte le débordement */
    height: calc(160% + 30px); /* Pour prendre en compte le débordement */
    background: conic-gradient(#B8FFC7, #B8FFC720);
    border-radius: 50%;
    z-index: -1;
    filter: blur(30px);
    opacity: 20%;
    animation: flottement2 9s ease-in-out infinite;
    
  }



  .luciole7{
    position: relative;
    display: inline-block;
  }


  .luciole7:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -20px;
    width: calc(100% + 5px); /* Pour prendre en compte le débordement */
    height: calc(100% + 5px); /* Pour prendre en compte le débordement */
    background: conic-gradient(#B8FFC7, #B8FFC720);
    border-radius: 50%;
    z-index: -1;
    filter: blur(20px);
    opacity: 20%;
    
    
  }




  .luciole8{
    position: relative;
    display: inline-block;
  }


  .luciole8:before {
    content: '';
    position: absolute;
    top: -50px;
    left: -200px;
    width: calc(120% + 5px); /* Pour prendre en compte le débordement */
    height: calc(100% + 5px); /* Pour prendre en compte le débordement */
    background: conic-gradient(#B8FFC7, #B8FFC720);
    border-radius: 50%;
    z-index: -1;
    filter: blur(20px);
    opacity: 10%;
    animation: flottement2 9s ease-in-out infinite;
    
    
  }


  body{
    overflow-x: hidden;
  }



