.navv{
    background-color: #CAEBFF;
}
*{
scroll-behavior: smooth;
}
.animnav2{
  animation: scale1 0.5s cubic-bezier(0, 0.71, 0.2, 1.01) forwards;
}



li:hover{
    background-color: #62B9CB;
    transform: scale(1.1);
    
}

li{
    transition: 0.15s ease-in-out;
}


.hideit  {
    opacity: 0;
    animation: fadeOut 0.4s forwards;
    /* Utilisez 'forwards' pour maintenir le style final après l'animation */
  }
  
  .makeitvisible {
    opacity: 1;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes scale1{
    from {
      transform: scale(0.7);
    }
  
    to {
     transform: scale(1.1);
    }
  }
 

 