.atransform{
    transform: translateX(100%);
}

.menunavmob{
    transition: 0.3s ease-in-out;
}

.divnavmob{
    border-top: 3px red solid;
    border-bottom: 3px red solid;
    border-left: 3px red solid;
    border-right: 3px red solid;
}

.divbord{
   
    border-bottom: 3px solid #B8FFC7;
}
