@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #08262E;
    overflow-x: hidden;
}

.App{
    overflow-x: hidden;
}


@media screen and (width > 450px) {
    .navcompl{
        display: block;
    }

    .diviconetudes{
        flex-direction: row;
    }

    .divicondev{
        flex-direction: row;
    }

    
 }

 @media screen and (width <= 450px) {
    .navmob1{
        display: block;
    }

  
 }
 
 @font-face {
    font-family: Lora;
    src: url("../src/Fonts/Lora/Lora-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: Inter;
    src: url("../src/Fonts/Lora/Inter/Inter-VariableFont_slnt\,wght.ttf");
    font-weight: 500;
    font-style: normal;
  }




 

 h1,h2,h3,.pdragme,.plora{
    font-family: Lora;
 }

 p{
    font-family: Inter;
 }

 .styleInter{
    font-family: Inter;
 }