@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #08262E;
    overflow-x: hidden;
}

.App{
    overflow-x: hidden;
}


@media screen and (width > 1025px) {
    .navcompl{
        display: block;
    }

    .diviconetudes{
        flex-direction: row;
    }

    .divicondev{
        flex-direction: row;
        margin-top: 5rem;
    }

    .sectionlogo{
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0 !important;
        margin-left: 2rem;
    }

    .sectiontechlogo{
        flex-direction: row;
        align-items: center;
        margin-top: 0 !important;
        
        
    }

    .sectiontechlogocont{
        margin-top: 2.5rem;
    }

    .sectionlogoback{
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0 !important;
        margin-left: 2rem;
    }

    .sectiontechlogo img{
        max-width: 2.2rem !important;
        max-height: 2.2rem !important;
    }

    .sectiontechlogo .infodev{
        display: none;
    }

    .barresep1{
        display: none;
    }

    .barresep2{
        display: block;
        margin-left: 2rem;
    }
   
    .h2pres{
        width: 60ch;
    }


    .brtitre{
        display: none;
    }

    .contun{
        display: flex;
    }
    .element1{
        width: 25%;
        
        
    }

    
    .element2{
        width: 75%;
        
    }

    header img{
       max-width: 80%;
    }

    .logores{
        margin-top: 2.5rem;
    }

    .imgres{
        width: 3.5rem;
    }

    .textdevfr{
        font-size: 62px;
    }

    .projetstext{
        text-align: left;
        
        font-weight: bold;
        margin-top: 5rem;
    }

    .sepP1Real{
        display: block;
    }

    .sectionReal1{
        margin-top: 8rem;
    }

    .petitesectionReal1{
        display: flex;
        gap: 8rem;
    }

    .real1sectiondroite{
        display: flex;
        flex-direction: column;
        
    }


    .real1sectiongauche{
        max-width: 50%;
    }
    .real1sectiondroite{
        max-width: 50%;
    }

    .TitreReal1,.TitreReal2{
        text-align: left;
    }

    .TitreReal1{
        font-size: 40px;
        font-weight: 400;
    }

    .TitreReal2{
        font-size: 28px;
        font-weight: 200;
        margin-top: 1rem;
    }


    .texteReal1{
        margin-top: 2.5rem;
        max-width: 60ch;
    }

    .cta1{
        margin-top: 2.5rem;
        justify-content: start;
    }

    .sectionphotomp2{
        max-width: 40%;
        max-height: 40%;
    }

    .sectionprestt{
        display: flex;
        
        flex-direction: row !important;
    }


    .textpresmp2{
        max-width: 50ch;
    }

    .textbsecpres2{
        font-size: 45px;
        text-align: start;
        margin-top: 3rem;
    }


    .sectiontextpres{
        margin-top: 3rem;
        gap: 2rem;
    }

    .btncv{
        justify-content: start;
    }

    .imgpassions{
        width: 8rem;
        height: 8rem;
    }

    .imgpassions2{
        width: 4rem;
        height: 4rem;
    }

    .ensemblepassions{
        gap: 4rem;
    }

    .etudestitre{
        text-align: start;
        font-size: 45px;
        margin-top: 5rem;
    }

    .sepetudes{
        margin-top: 5rem;
    }

    .textpassionss{
        font-size: 45px;
        text-align: start;
        margin-top: 5rem;
    }

    .contactp{
        font-size: 18px;
    }
 }














 @media screen and (width <= 450px) {
    .navmob1{
        display: block;
    }

  
 }
 
 @font-face {
    font-family: Lora;
    src: url("../src/Fonts/Lora/Lora-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: Inter;
    src: url("../src/Fonts/Lora/Inter/Inter-VariableFont_slnt\,wght.ttf");
    font-weight: 500;
    font-style: normal;
  }




 

 h1,h2,h3,.pdragme,.plora{
    font-family: Lora;
 }

 p{
    font-family: Inter;
 }

 .styleInter{
    font-family: Inter;
 }